body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(46, 0, 38);;
}

#intro-screen {
    background-image: url('images/background.png');
    background-repeat: repeat-y;
    background-size: 900px auto;
    background-position: center;
    color: white;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
}

h2, h1, p {
    text-align: center; /* Keskittää tekstin vaakasuunnassa */
    width: 100%;   /* Tekee elementeistä täysleveän */
    position: relative;
    margin: 20px 0; /* Lisää hieman marginaalia ylä- ja alapuolelle */
}

button {
    background-color: rgb(255, 0, 85);
    color: rgb(0, 217, 255);
    margin-left: 20px; /* Sama sisennys kuin monsterin kuvilla */
    align-self: flex-start; /* Asetetaan nappula vasempaan reunaan */
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer; /*this is a test to see if git works*/}

#game-screen {
    display: none;
}

#game-board {
    display: grid;
    background-image: url('images/background.png');
    color: pink;
    background-size: cover;
    background-position: center;
    width: 49vw;
    height: 49vw;
    margin: 0px;
    border: 0px;
    background-color: rgb(46, 0, 38);
}